@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  @apply bg-lightYellow;
}

.rltb-0{
  @apply right-0 bottom-0 top-0 left-0;
}
.m-rltb-auto{
  @apply mt-auto ml-auto mb-auto mr-auto;
}
:focus-visible{
  outline: none !important;
}

.MuiPopover-paper{
  max-height:400px !important;
  width: 300px !important;
}